
writing/template_peerReviewed.synctex
writing/template_peerReviewed.log
writing/template_peerReviewed.blg
writing/template_peerReviewed.bbl
writing/template_peerReviewed.aux
writing/aestitle.log
writing/aestitle.aux
*.asv
*.mat
matlab/plots/
*.wav
email_mike_180201/
*.bak
*.sav
lit/
presentations/tefos2018/Sound_Localisation.mp4.sfk
presentations/tefos2018/Sound_Localisation.mp4
presentations/tefos2018/SL_edit.veg
presentations/tefos2018/SL_edit.mp4
presentations/tefos2018/sig_2.jpg
presentations/tefos2018/184.jpg
presentations/tefos2018/sig_1.jpg
presentations/
writing/
